@media (max-width: 768px) {
  .banner .banner-text {
    font: normal normal 30px/37px UTM;
    letter-spacing: -0.05em; }
    .banner .banner-text .medium-text {
      font: bold 30px/37px UTM-B; }
    .banner .banner-text .small-text {
      font-size: 16px;
      line-height: 20px; }
    .banner .banner-text .start-learn-btn {
      font: normal bold 16px/20px UTM; }

  .course .card .laravel-img {
    height: 163.483px; }
  .course .card-body .card-title {
    font: normal bold 18px/25px UTM; }
  .course .card-body .card-text {
    font: normal bold 14px/18px UTM; }
  .course .other-course-text {
    font-size: 50px;
    line-height: 61px; }
  .course .view-all-of-course {
    font-size: 28px;
    line-height: 34px; }

  .why-hapo .why-hapo-top-img {
    top: -120px; }
  .why-hapo .why-hapo-text {
    font: normal bold 50px/61px UTM;
    top: 30px;
    left: 30%; }
  .why-hapo .why-hapo-small-text ul li {
    font: normal bold 16px/20px UTM; }
    .why-hapo .why-hapo-small-text ul li img {
      width: 20px;
      height: 15px; }
  .why-hapo .why-hapo-bot-img {
    padding-top: 100px;
    margin-left: 25px;
    height: 300px; }

  .become-member-content .become-member-text {
    font: normal bold 35px/43px UTM; }
  .become-member-content .become-member-btn {
    width: 250px;
    height: 46.62px;
    background: #FFFFFF; }
    .become-member-content .become-member-btn a {
      font: normal 20px/25px UTM; }

  .statistic .statistic-text {
    font: 50px/61px; }
  .statistic .statistic-count .count-text {
    font: bold 40px/49px UTM; }
  .statistic .statistic-count .count-number {
    font: bold 40px/49px UTM; }

  .footer .footer-main .footer-left {
    font: 16px/20px UTM; }
  .footer .footer-main .footer-center {
    font: bold 16px/22px UTM; }

  .split-main-text {
    -webkit-line-clamp: 4; }

  .split-other-text {
    -webkit-line-clamp: 4; } }
@media (max-width: 425px) {
  .list-menu {
    margin-top: 5%; }
    .list-menu .nav-item {
      text-align: center;
      font-size: 16px;
      line-height: 22px; }
    .list-menu .nav-item :hover {
      color: #B2D235 !important;
      -webkit-text-stroke: 0.5px #B2D235;
      background-color: #FFFFFF; }

  .banner {
    margin-bottom: 30%; }
    .banner .banner-text {
      margin-top: 85%;
      font: 25px/31px UTM;
      letter-spacing: -0.05em; }
      .banner .banner-text .small-text {
        font-size: 16px;
        line-height: 20px; }
      .banner .banner-text .start-learn-btn {
        display: inline-block;
        width: 320px;
        font: bold 18px/22px UTM; }

  .course .card-body .card-title {
    font: bold 20px/25px UTM; }
  .course .card-body .card-text {
    font: bold 14px/18px UTM; }
  .course .other-course-text {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 80px; }
  .course .other-course {
    margin-top: -50px; }
  .course .view-all-of-course {
    margin-bottom: 50px; }
    .course .view-all-of-course b a {
      font-size: 22px;
      line-height: 27px; }

  .why-hapo .why-hapo-top-img {
    top: -80px; }
  .why-hapo .why-hapo-text {
    font: bold 40px/40px UTM;
    top: 30px;
    left: 30%; }
  .why-hapo .why-hapo-small-text ul li {
    font: bold 14px/17px UTM; }
  .why-hapo .why-hapo-small-text .why-hapo-bot-img {
    padding-top: 0;
    margin-left: 35px;
    height: 230px; }

  .become-member-content .become-member-text {
    font: bold 23px/28px 'UTM'; }
  .become-member-content .become-member-btn {
    width: 200px;
    height: 37.14px; }
    .become-member-content .become-member-btn a {
      font: normal 18px/22px UTM; }

  .statistic .statistic-text p {
    font: bolder 40px/49px UTM-B;
    letter-spacing: -0.02em; }

  .footer .footer-main .footer-left {
    font: 12px/17px UTM; }
    .footer .footer-main .footer-left img {
      margin-left: 10px; }
    .footer .footer-main .footer-left p {
      margin-left: 12px; }
  .footer .footer-main .footer-center {
    font: bold 17px/21px UTM; }
  .footer .footer-main .footer-right {
    margin-top: -35px; }
    .footer .footer-main .footer-right button {
      padding-right: 0; }
      .footer .footer-main .footer-right button img {
        width: 35px;
        height: 35px; }

  .feed-back {
    height: 550px; }

  .feed-back-slogan .fb-slogan-up p {
    font: bold 40px/49px UTM; }
  .feed-back-slogan .fb-slogan-down p {
    font: 16px/20px UTM; } }

/*# sourceMappingURL=responsive.css.map */
