// Tablet Screen
@media (max-width: 768px) {
  
  .banner {

    .banner-text {
      font: normal normal 30px/37px 'UTM';
      .small-text {
        font-size: 16px;
        line-height: 20px;
      }

      .start-learn-btn {
        font: normal bold 16px/20px 'UTM';
      }
    }
  }
}

// SmartPhone Screen
@media (max-width: 425px) {
 
  .list-menu {
    margin-top: 5%;
    
    .nav-item {
      text-align: center;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 3%;
      }
    }

    .banner {
     
      .banner-text {
        margin-top: 85%;
        font: normal normal 25px/31px 'UTM';
        letter-spacing: -0.05em;

        .small-text {
          font-size: 16px;
          line-height: 20px;
        }

        .start-learn-btn {
          font: normal bold 18px/22px 'UTM';
          margin-left: 20%;
        }
      }
    }
}
