@import 'variable';

body {
  margin: 0;
  padding: 0;
}

.list-menu {
  .nav-item {
    margin-right: 10px;
    font: normal bold 14px/19px 'Open Sans';
  }

  .nav-item :hover {
    background-color: $green-color;
    border-radius: 17px;
    color: $white-text !important;
  }
}

.banner {
  .banner-img {
    position: relative;
  }

  .banner-text {
    position: absolute;
    font: normal normal 50px/61px 'UTM';
    letter-spacing: -0.05em;
    color: $violet-text;

    .medium-text {
      font-weight: bold;
    }

    .small-text {
      font-size: 20px;
      line-height: 25px;
      color: #505353;
    }

    .start-learn-btn {
      font: normal bold 30px/37px 'UTM';
      color: $white-text;
      background-color: $green-color;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 35px;
    }
  }
}

.course {
  text-align: center;
  align-items: center;

  .card {
    .html-img {
      background-color: #3F6185;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px 15px 0px 0px;
    }

    .laravel-img {
      background-color: #DC594C;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px 15px 0px 0px;
    }

    .php-img {
      background-color: #556598;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px 15px 0px 0px;
    }

    .css-img {
      background-color: #24ABE2;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px 15px 0px 0px;
    }

    .ruby-img {
      background-color: #E14E40;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px 15px 0px 0px;
    }

    .java-img {
      background-color: #1B75BB;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px 15px 0px 0px;
    }
  }

  .card-body {
    .card-title {
      font: normal bold 30px/37px 'UTM-B';
      color: $green-color;
      letter-spacing: -0.05em;
    }

    .card-text {
      font: normal bold 14px/20px 'UTM-B';
      color: $black-text;
      letter-spacing: -0.05em;
    }
  }

  .take-course-btn {
    background: #B2D235;
    box-shadow: inset 0px 1.5px 2px #6F8710;
    border-radius: 22px;
    color: #ffffff;
  } 
}

@import 'responsive';
