@mixin font-face($font-family, $url, $font-weight) {
	@font-face {
	  font-family: '#{$font-family}';
	  src: url('#{$url}');
	  font-style: normal;
	  font-weight: $font-weight;
	  }
  }

@include font-face ('UTM', '../Font/UTMBryantLG.ttf', normal);
@include font-face ('UTM-B', '../Font/UTMBryantLG_B.ttf', bold);
@include font-face ('Open Sans-B', '../Font/OpenSans-Bold.ttf', bold);
@include font-face ('Open Sans', '../Font/OpenSans-Regular.ttf', normal);

  $green_color: #B2D235;
  $black_text: #505353;
  $white_text: #FEFFFF;
  $violet_text: #11114E;
  $white: #FEFFFF;


